<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--FOR USING INTERNET-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".JetpackComposeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackCompose"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".LogoBundeswehr"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_bundeswehr"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_bundeswehr"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LogoNaziEagle"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_nazi_eagle"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_nazi_eagle"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LogoNaziSymbol"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_nazi_symbol"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_nazi_symbol"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LogoHeer"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_heer"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_heer"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>